{% extends "listing/base.html" %} {% block content %}
<h1>About Page</h1>
<p style="background-color: white; padding: 10px">
  This is a site where students can post their old books/textbooks that were
  required for college courses that they no longer need.
  <br />
  <br />
  This site will save students enrolling in courses time and money while helping
  students get money back for their old books. Browse for books and enjoy the
  convenience of students around the world connecting to help others further
  their education.
</p>

{% endblock content %}
