{% extends "listing/base.html" %} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
      {% if object.author == user %}
      <div>
        <a
          class="btn btn-secondary btn btn-sm mt-1 mb-1"
          href="{% url 'post-update' object.id %}"
          >Update</a
        >
        <a
          class="btn btn-danger btn btn-sm mt-1 mb-1"
          href="{% url 'post-delete' object.id %}"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">Description: {{ object.content }}</p>
    <p class="article-content">Author: {{ object.book_author }}</p>
    <p class="article-content">Edition: {{ object.edition }}</p>
    <p class="article-content">ISBN {{ object.isbn }}</p>
    <p class="article-content">Condition {{ object.condition }}</p>
    <p class="article-content">Price: {{ object.price }}</p>
    <p class="article-contact">Contact Info: {{ object.contact }}</p>
    <p class="article-location">Location: {{ object.location }}</p>
  </div>
</article>
{% endblock content %}
